.sapMPageEnableScrolling.sapUiScrollDelegate{
    background-color: white;
}
.sapMFlexBoxWrapNoWrap.sapMFlexBoxAlignContentStretch.sapMFlexBoxBGTransparent[data-flag="S"] {
    display: flex;
    align-self: flex-end;
    background-color: #004A96; /* Green background for sent messages */color: white;
    padding: 12px;
    border-radius: 10px;
    max-width: 50%;
    width: auto;
    text-align: left;
}

.sapMFlexBoxBGTransparent[data-flag="S"] .messageText{
    color: white;    
}

/* Styling for received messages */
.sapMFlexBoxWrapNoWrap.sapMFlexBoxAlignContentStretch.sapMFlexBoxBGTransparent[data-flag="R"] {
    display: flex;
    align-self: flex-start;
    background-color: #ececec; /* White background for received messages */
    padding: 12px;
    border-radius: 10px;
    max-width: 50%;
    width: auto;
    margin: 5px 0;
    text-align: left;
}

.sapMTextMaxWidth.dateText {
    font-size: 0.75rem;
    color: #999;
    margin-top: 4px;
}

.listItem{
    border-color: transparent;
}

.listItem:focus{    
    outline: transparent;
}

.profilePic{
    width: 60%;
    margin: 5%;
    margin-left: 10%;
    margin-top: 5px;
    border-radius: 50%; /* Makes the image round */
    overflow: hidden; /* Ensures that the image remains round even if resized */
}

.horizontalBox div:has(img.profilePic){
    width: 10%;
    height: 4%;
    margin-left: 10px;
}

@media (min-width: 600px) {
    .horizontalBox div:has(img.profilePic) {
        width: 6%; 
    }
}

@media (min-width: 1200px) {
    .horizontalBox div:has(img.profilePic) {
        width: 4%; 
    }
}

.horizontalBox[data-horizontalflag='S']{
    justify-content: end;
}

.statusIcon{
    width: 12px;
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 5px;
}



